body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0044ff;
}

.container {
  display: flex;
  padding: 10px;
  width: 50%;
  background-color: #4c4d4a;
}

.box {
  padding: 10px;
  width: 100%;
  background-color: #bbc0bd;
}
