extends ../layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .box
      h4 Secret content with WWW Auth of Fixed Session:
      a(href="/session/secretFixedSession") Secret
  br
black cat