extends ../layout

block content
    h1= title
    br
    p You can only see this after you've logged in
    a(href="/cookies") Cookie
    br
    a(href="/session") Session
    br
    a(href="/") Home
